* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	height: 80vh;
}
.Q {
	display: flex;
	justify-content: space-around;
}
body {
	background-color: crimson;
}
#Q {
	font-size: 2rem;
	padding-top: 10%;
	padding-left: 100px;
	color: lightgrey;
}
.QQ {
	display: flex;
	justify-content: space-around;
	font-size: 1.8rem;
	padding-top: 45px; 
}
a {
	text-decoration: none;
}