* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: lightblue;
}
.Q {
	height: 100%;
	width: 100%;
	font-size: 2rem;
	color: lightseagreen;
	margin-top: 20vh;
	margin-left: 22vw;
}
.QQ {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 25vh;
	font-size: 1.8rem;
}
a {
	text-decoration: none;
}
.QQQ {
	display: flex;
	justify-content: space-around;
	margin-top: 27vh;
}
#Q {
	font-size: 1.8rem;
	color: darkblue;
}